<!DOCTYPE html>
<html lang="en">
    <head>
        <!--link rel="stylesheet" href="styles.css"-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ACTool Ver1.0</title>
        <!-- CSS: Inside head tag -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    </head>
    <style>
        body{
            background:url('../static/chemiebackground.jpg') no-repeat center center fixed;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size: cover;
            background-size: cover;
            backdrop-filter: blur(5px);
        }
    </style>
    <body>
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark ">
            <div class="container-fluid">
                <div class="mx-4">
                    <a class="navbar-brand" href="./index">Analytical Chemistry Tool ver1.0</a>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/ai-viet-hoang-111093/">My Linkedin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container my-4">
            <div class="row justify-content-center">
                <div class="section">
                    <h2 class="text-white" align="center">
                        <span>Adduct</span>
                        <span>Calculation</span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="container my-4 ">
            <div class="row justify-content-center">
                <div class="col-lg mb-lg-4">
                    <form action="" method="get">
                        <table class="text-white" align="center">
                            <tr>
                                <td align="right">Neutralmass</td>   
                                <td align="left"><input type="text" name="neutralmass"></td><br>
                            </tr>
                            <tr>
                                <td align="right">Unifi Number </td> 
                                <td align="left"><input type="text" name="unifi_number"></td><br>
                            </tr>
                            <tr>
                                <td align="right">Hydro(s)</td>      
                                <td align="left"><input type="text" name="hrepeat"></td><br>
                            </tr>
                            <tr>
                                <td align="right">Element(s)</td>    
                                <td align="left"><input type="text" name="repeat"></td><br>
                            </tr>
                            <tr>
                                <td align="right">Mass Error</td>    
                                <td align="left"><input type="text" name="mass_error"></td><br>
                            </tr>
                            <tr>
                                <td align="right">Mode</td>
                                <td align="left"><input type="text" name="mode"></td><br>
                            </tr>
                        </table>
                        <div align="center">
                            <input type="submit" value="Calculate">
                        </div>
                    </form>
                </div>
                <div class="col-lg mx-2 align-self-center ">
                    <div class="my-3">
                        <p class="text-white" class="lineUp" align="justify">
                            Used to find the combinations of adduct base on the neutralmass mass and mass from the unifi 
                            devices.<br>
                            How to use:<br>
                            1. Fill all the blanks with parameters:<br>
                            <strong>Mode:</strong><br>
                            - minus negative_unifi.csv for the elements database of negative cases.<br>
                            - plus  positive_unifi.csv for the elements database of positive cases.<br>
                            <strong>NeutralMass:</strong><br>
                            - The paramenter should be float number xxx.xxxxx.<br> 
                            <strong>Unifi_number:</strong><br>
                            - Number from the unifi machine.<br>
                            <strong>Hydro(s):</strong><br>
                            - Number of Hydros can be in the combinations.<br>
                            - The case that the addduct does not contain Hydro is always calculated.<br>
                            - Hydro hould equal 1.007825 as standard value.<br>
                            <strong>Element(s):</strong><br>
                            - The number of times the elements can be duplicated in the adduct combi.<br>
                            <strong>Mass Error:</strong><br>
                            - The acceptable error which can be approved, the smaller it get the more accurate the results.<br>
                            - Normal parameter is: 0.00001<br>
                            2. Click Convert.<br>
                            3. The result will be shown as Json format.<br>
                            </p>
                    </div>
                </div>
            </div>
        </div> 
        <!-- JavaScript: Above <body>  -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
            crossorigin="anonymous"></script>
    </body>
    <footer>
        <div class="text-center mb-4 text-white">
            &copy; Copyright 2024 © Dispelk9/AiVietHoang All Rights Reserved
        </div>
    </footer>